.app-container {
    width: 80%;
    max-width: 1500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.app-heading {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}